* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    min-width: 430px;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

.header {
    background-color: #CDD5C6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}


label {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    cursor: pointer;
}

input {
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: #CDD5C6;
    font-family: 'Nunito', sans-serif;
}

.location {
    background-color: #CDD5C6;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}


.home {
    background-image: url(../images/ha1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: auto;
    font-size: 4rem;
    text-decoration: underline;
    color: #FBF2ED;
}

#h2b {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    text-decoration: underline;
    color: #FBF2ED;

}

#h2c {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    text-decoration: underline;
    color: #FBF2ED;
}

#h2d {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    text-decoration: underline;
    color: #FBF2ED;
}

.Burguers img {
    border-radius: 3rem;
}

.Burguers:hover img {
    transition: all .5s;
    transform: scale(1.1);
}


.Cakes img {
    border-radius: 3rem;
    object-fit: cover;
}

.Cakes:hover img {
    transition: all .5s;
    transform: scale(1.1);
}


.ice-cream img {
    border-radius: 3rem;
}

.ice-cream:hover img {
    transition: all .5s;
    transform: scale(1.1);
}

.Burguers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #d9d9d9 21%, #000000 100%);
    font-size: 1.5rem;
    border-radius: 3rem;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
}

.Cakes {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, #d9d9d9 21%, #000000 100%);
    font-size: 1.5rem;
    border-radius: 3rem;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
    overflow: hidden;
}

.ice-cream {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, #d9d9d9 21%, #000000 100%);
    font-size: 1.5rem;
    border-radius: 3rem;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
}

button {
    background: linear-gradient(to bottom, #d9d9d9 21%, #000000 100%);
    border: none;
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    width: 15rem;
    border-radius: 1rem;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 1rem;
    width: 100%;
    height: 40vh;
    font-family: 'Nunito', sans-serif;
    font-weight: extra-bold;
    background-color: #000000;
    color: #F6F5F5;
}

.contactos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}

.Login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}

.emblema {
    font-weight: semi-bold;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #F6F5F5;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 10vh;
}

@media (max-width:1500px) {
    .Burguers {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .Cakes {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .ice-cream {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

}